/* farver
Rød: #b10000
Beige: #fff2d8 */

/* Resets */


html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

img, svg, video{
    max-width: 100%;
}

figure{
    margin: 0;
}

/* ai generator */

.generate{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.generate-button{
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

.generate-button {
    border-radius: 25px; 
    background-color: #f8f8f8; 
    cursor: pointer; 
}

.generate-button:hover {
    background-color: #ddd; 
}

.title-projekt{
    margin-block-end: 0;
    text-align: center;
}

.title{
    max-width: 300px;
    margin: 0 auto;
}

.first-parameter{
    margin-top: 0px;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    display: grid;
    flex-basis: 50%;
    margin-bottom: 30px;
}

.generated-img{
    width: 100%;
    height: auto;
    padding: 0px;
}

figure img {
    border: 10px solid rgb(255, 255, 255);
}

h1{
    text-align: center;
}

.field h3{
    margin-block-end: 2px;
}

.range{
    display: flex;
}

/* ________________________________________________________________________ */

/* variabler */

:root{
    --primary-color: #000000;
    --secondary-color: #3c3c3c;
    --bright-color: #fff;
}

/* ________________________________________________________________________ */

/* LAYOUT */

.center-max{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: var(--primary-color);
    box-shadow: 0 10px 12px rgb(0, 0, 0);
    position: sticky;
    z-index: 9999;
    top: 0;
}

.main{
    color: var(--bright-color);
    margin-top: 35px;
    margin-bottom: 35px;
}

.section{
    padding: 0.1px 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
}

.white{
    color: var(--primary-color);
    background-color: var(--bright-color);

}

.article{
    padding: 10px;
}

.aside{
    padding: 10px;
}

.logo-image{
    display: flex;
    justify-content: center;
}

.logo-image a img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.logo{
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color: var(--bright-color);
}

.logo h1{
    margin-block-end: 0;
}

hr{
    margin: 0;
}

.search{
    display: flex;
    padding: 10px 0;
}

.hidden-on-mobile{
    display: none;
}

.burger{
    background: none;
    border: none;
    outline: none;
}

.menu-item{
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

.menu-item:hover{
    color: var(--secondary-color);
}



.menu-container{
    background-color: var(--primary-color);
    padding: 5px 0;
    
}

.menu-container a{
    color: var(--bright-color);
    text-decoration: none;
}

.footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer a{
    color: var(--primary-color);
}

.footer-inner{
    padding: 10px 0;
}

/* Typografi */
body{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .menu-item {
    text-transform: uppercase;
    /* font-family: "Gruppo", serif; */
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-style: normal;
}

.under-title{
    font-family: "Gruppo", serif;
    font-weight: 400;
    font-style: normal;
    margin-block-start: 0;
    color: var(--bright-color);
}

.center{
    text-align: center;
}


/* search-inputs */

.search-btn{
    background-color: var(--primary-color);
    box-sizing: content-box;
    padding: 4px;
}

/* ________________________________________________________________________ */

/* Kontakt form */

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px 0;
}

.field{
    padding: 10px 0;
}

.contact-form input[type="submit"]{
    background: var(--primary-color);
    color: var(--bright-color);
    font-family: "Monserrat", serif;
    border:none;
}

.foto-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.dialog-first{
    display: flex;
    gap: 15px;
    max-height: 200px;
}

.dialog-by3{
    max-height: 100%;
}

.model-content{
    display: none;
}

::backdrop{
    background-color: rgba(0,0,0,0.5);
}

/* Desktop styles */

@media screen and (min-width: 850px){

    .first-parameter{
        margin-top: -30px;
    }

    .generated-img{
        height: 512px;
        width: 512px;
        padding-right: 20px;
    }

    .wrapper{
        display: flex;
    }

    .article{
        padding-left: 10px;
    }
    
    .aside{
        padding-right: 10px;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-betweens;
    }


    .flex-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .flex-desktop-justify{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .main-menu{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .menu-item{
        margin: 0;
    }

    .burger{
        display: none; 
    }

    .article{
        min-width: 66.7%;
    }


}

